body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud {
  position: absolute;

  &:first-child {
    left: 0;
  }

  &:last-child {
    right: 0;
  }
}
